# Radio Spot Watcher DX — v7.2
# Installation : pip install -r requirements.txt --break-system-packages

flask>=2.3
flask-socketio>=5.3
requests>=2.31
beautifulsoup4>=4.12
feedparser>=6.0
telnetlib3>=1.0
sgp4>=2.22
pandas==3.0.2
